* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f8f8
}

#container {
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0px auto;
    border-radius: 25px;

}

.acomodar {
    display: flex;
    justify-content: center;
}

.toggle {

    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    border-radius: 25px;
}

.on-off::before {
    content: "ON ";
    color: white;
    font-size: 24px;
    align-items: center;
}

.on-off::after {
    font-size: 24px;
    content: " OFF";
    color: black;
}

#container.active .toggle {
    left: 40px;
}

#fishFood {
    width: 50px;
    position: relative;
    top: 20px;
}

body.active .animada {
    animation: movimiento 2s infinite;
}

@keyframes movimiento {
    0% {
        transform: none;
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: none;
    }

}

#fishContainer {
    position: relative;
}

#fishImg {
    width: 100px;
    bottom: -100;
    position: relative;
}